version: '3.8'

services:
  identity-server:
    build: .
    container_name: identity-server
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - NODE_ENV=production
